<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title> investimentos </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <ion-alert
  trigger="ver-mensagem"
  header="AVISO!"
  message="{{mensagem}}"
  [buttons]="alertButtons"
  ></ion-alert>

  <ion-item>
    <ion-label position="floating">Valor inicial investido</ion-label>
    <ion-input
      type="number"
      placeholder="Em Reais (R$)"
      [(ngModel)]="p"
    ></ion-input>
  </ion-item>

  <ion-item>
    <ion-label position="floating">Taxa de retorno anual</ion-label>
    <ion-input
      type="number"
      placeholder="em porcentagem (%)"
      [(ngModel)]="r"
    ></ion-input>
  </ion-item>

  <ion-item>
    <ion-label position="floating">Períodos de Capitalização por Ano</ion-label>
    <ion-input
      type="number"
      placeholder="ex: 1 (anual), 12 (mensal), 4 (trimestral)"
      [(ngModel)]="n"
    ></ion-input>
  </ion-item>

  <ion-item>
    <ion-label position="floating">Período de investimento </ion-label>
    <ion-input
      type="number"
      placeholder="em anos"
      [(ngModel)]="t"
    ></ion-input>
  </ion-item>

  <ion-button expand="block" id="ver-mensagem" (click)="calculo()">calcular </ion-button>

  <ion-label class="resultado-m">Montante: R$ {{ m.toFixed(2) }}</ion-label>
</ion-content>
