<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
Despesas Mensais
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-item *ngIf="listaDespesas">
  </ion-item>
  <ion-alert
  trigger="ver-mensagem"
  header="AVISO!"
  message="{{mensagem}}"
  [buttons]="alertButtons"
  ></ion-alert>

    <ion-item *ngFor="let despesas of listaDespesas">
      <ion-label> Renda Liquida: {{despesas.rendaLiquida}}</ion-label>
  <ion-label> alimentos: {{despesas.alimeticios}}</ion-label>
  <ion-label> saidas: {{despesas.saidas}}</ion-label>
  <ion-label> moradia : {{despesas.moradia}}</ion-label>
  <ion-label> transporte: {{despesas.transporte}}</ion-label>
</ion-item>
<ion-button expand="block" id="ver-mensagem" (click)="verificarRendaLiquida()">calcular </ion-button>
</ion-content>
